.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.chat__header{
    padding:20px;
    display: flex;
    align-items: center;
    border-bottom:1px solid lightgrey;
}

.chat__headerInfo{
    flex:1;
    padding-left:20px;
}

.chat__headerInfo > h3{
    margin-bottom:3px;
    font-weight: 500;
}

.chat__headerInfo > p{
    color: gray;
}

.chat__body{
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
}

.chat__message{
    background-color: white;
      border-radius: 10px;
      font-size: 16px;
      margin-bottom: 5px;
      padding: 10px;
      position: relative;
      width: fit-content;
}
.chat__name{
         /* display: block; */
        font-size: xx-small;
        font-weight: 800;
        position:absolute;
        top:-15px;
        /* margin-bottom: 10px; */
        /* width: max-content; */
}
.chat__timestamp {
    font-size: xx-small;
    margin-left: 10px;
  }

  .chat__reciver{
    background-color: #dcf8c6;
    margin-left: auto;
  }

  .chat__footer{
    align-items: center;
    justify-content:space-between;
    display: flex;
    height: 62px;
    border-top:1px solid lightgrey;
  }

  .chat__footer > form{
      flex: 1;
      display: flex;
  }

  .chat__footer > form > input{
      flex: 1;
      border-radius:30px;
      padding:10px;
      border: none;
  }

  .chat__footer > form > button{
      display:none
  }

  .chat__footer > .MuiSvgIcon-root{
    color:gray;
    padding:10px;
}